{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title">{% translate "Prepared Answers" %}</h5>

                <div type="button" class="btn btn-success ml-auto" data-toggle="modal"
                     data-target="#createPreparedAnswerModal">
                    {% translate "Create" %}
                </div>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for prepared_answer in prepared_answers %}
                        <div type="button" class="list-group-item list-group-item-action" data-toggle="modal"
                             data-target="#preparedAnswerModal{{ prepared_answer.id }}">
                            <h5><b>{{ prepared_answer.title }}</b></h5>
                            <p>{{ prepared_answer.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="createPreparedAnswerModal" tabindex="-1"
         aria-labelledby="createPreparedAnswerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="createPreparedAnswerModalLabel">{% translate "Create Prepared Answer" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createPreparedAnswerForm" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="createPreparedAnswerTitle">
                                {% translate "Title" %}
                            </label>
                            <input id="createPreparedAnswerTitle" class="form-control"
                                   type="text" name="title" maxlength="255" required>
                        </div>

                        <div class="form-group">
                            <label for="createPreparedAnswerText">
                                {% translate "Text" %}
                            </label>
                            <textarea id="createPreparedAnswerText" class="form-control"
                                      type="text" name="text" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"
                            form="createPreparedAnswerForm">{% translate "Save" %}</button>
                </div>
            </div>
        </div>
    </div>

    {% for prepared_answer in prepared_answers %}
        <div class="modal fade" id="preparedAnswerModal{{ prepared_answer.id }}" tabindex="-1"
             aria-labelledby="preparedAnswerModalLabel{{ prepared_answer.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="preparedAnswerModalLabel{{ prepared_answer.id }}">{% translate "Edit Prepared Answer" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="preparedAnswerForm{{ prepared_answer.id }}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ prepared_answer.id }}">

                            <div class="form-group">
                                <label for="preparedAnswerTitle{{ prepared_answer.id }}">
                                    {% translate "Title" %}
                                </label>
                                <input id="preparedAnswerTitle{{ prepared_answer.id }}" class="form-control"
                                       type="text" name="title" value="{{ prepared_answer.title }}" maxlength="255"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="preparedAnswerText{{ prepared_answer.id }}">
                                    {% translate "Text" %}
                                </label>
                                <textarea id="preparedAnswerText{{ prepared_answer.id }}" class="form-control"
                                          type="text" name="text" required>{{ prepared_answer.text }}</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <form id="preparedAnswerForm{{ prepared_answer.id }}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ prepared_answer.id }}">
                            <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
                        </form>
                        <button type="submit" class="btn btn-primary"
                                form="preparedAnswerForm{{ prepared_answer.id }}">{% translate "Save" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
