{% load tenant_based_permission %}
{% load static %}
{% load in_group %}
{% load i18n %}
{% load theme %}

{% if support_chat_parameter.enabled %}
    {% has_tenant_based_perms "support_chat.support_users" as has_supporter_privileges %}

    {% load can_inactivate_all_supporters %}
    {% can_inactivate_all_supporters user as can_inactivate_all_supporters %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ general_parameter.page_title }}</title>
    {% if general_parameter.favicon_link %}
        <link rel="shortcut icon" href="{{ general_parameter.favicon_link }}">
    {% else %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#00a6df">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#00a6df">
        <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
    {% endif %}
    <link rel="stylesheet" href="{% static 'dist/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'utilities/css/tab-view.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    {% theme "base" "stylesheet" %}

    {% if support_chat_parameter.enabled %}
        <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
    {% endif %}

    {% block styles %}
    {% endblock %}

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <!-- toastr Plugin -->
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

    <script src="{% url 'core_javascript_catalog' %}"></script>

    <script src="{% static 'utilities/js/misc.js' %}"></script>
    <script src="{% static 'utilities/js/tab-view.js' %}"></script>

    <!-- Init Tooltips Support  -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    {% if support_chat_parameter.enabled %}
        <script src="{% url 'support_chat_javascript_catalog' %}"></script>
        <script src="{% static 'chat/js/utils.js' %}"></script>
        {% if request.user.is_authenticated %}
            <script src="{% static 'chat/js/chat.js' %}"></script>

            {% if has_supporter_privileges %}
                <script src="{% static 'chat/js/support.js' %}"></script>
                <script>
                    const support = new Support('/ws/supportchat', {{ support_chat_parameter.message_max_length }},
                        {{ can_inactivate_all_supporters|yesno:"true,false" }},
                        '{% static 'logo/b-512x512.png' %}');

                    window.addEventListener('load', function () {
                        jQuery('#toggle-support-nav-item').append(support.getChangeSupportStatusElement());
                        support.handleChangeSupportStatusElementAddedToDom();

                        support.addUnreadMessagesCountUpdatedListener(function (totalUnreadMessages) {
                            updateUnreadMessagesBadge(jQuery('#support-total-unread-messages-badge'), totalUnreadMessages);
                        });

                        support.open();
                    });
                </script>
            {% endif %}
        {% endif %}
    {% endif %}

    {% block scripts %}
    {% endblock %}

    {% if request.user.is_authenticated and request.user.date_joined.isoformat < "2021-06-29" %}
        {# Run this script after the 'scripts' block to disable the popover #}
        <script>
            if (localStorage.getItem("userSettingsPopoverDismissed") !== "true") {
                window.addEventListener("load", function () {
                    const content = document.createElement("span");
                    content.addEventListener("click", function () {
                        localStorage.setItem("userSettingsPopoverDismissed", "true");
                        jQuery("#user-settings").popover("hide");
                    });
                    content.style.cursor = "pointer";
                    content.style.display = "inline-block";
                    content.innerText = "{% translate "Have you seen, the new user settings are here." %}";
                    jQuery("#user-settings").popover({
                        content: content,
                        html: true,
                        container: "body",
                        trigger: "manual",
                        placement: "right",
                        boundary: "viewport"
                    }).popover("show");
                });
            }
        </script>
    {% endif %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <nav aria-label="Top Nav" class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><em class="fas fa-bars"></em></a>
            </li>

            <li class="nav-item d-sm-inline-block">
                {% if request.user.is_authenticated %}
                    <form action="{{ logout_url }}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="{% translate "Logout" %}" class="btn btn-link nav-link">
                    </form>
                {% else %}
                    <a href="{{ login_url }}" class="nav-link">{% translate "Login" %}</a>
                {% endif %}
            </li>
            {% if request.user.is_authenticated and request.user.has_usable_password %}
                <li class="nav-item d-sm-inline-block">
                    <a href="{% url 'change_password' %}" class="nav-link">{% translate "Change password" %}</a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-sm-inline-block mr-3">
                {% get_current_language as current_language_code %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-language-selection"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_language_code|language_name_local }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-language-selection">
                        {% get_available_languages as LANGUAGES %}
                        {% for language_code, _ in LANGUAGES %}
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="language" value="{{ language_code }}">
                                <input type="submit" value="{{ language_code|language_name_local }}"
                                       class="btn dropdown-item{% if language_code == current_language_code %} active{% endif %}">
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>

        {% if support_chat_parameter.enabled %}
            {% if has_supporter_privileges %}
                <ul class="navbar-nav">
                    <li id="toggle-support-nav-item" class="nav-item">
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    </nav>

    <aside aria-label="Side Nav" class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            {% if general_parameter.logo_link %}
                <img src="{{ general_parameter.logo_link }}" alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8; max-width: 15%;">
            {% else %}
                <span class="brand-image img-circle" style="margin-top: 5.5px;">
                    B<em class="nav-icon fas fa-at "></em>S
                </span>
            {% endif %}
            <span class="brand-text font-weight-light">{{ general_parameter.app_title }}</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item user-panel mb-3">
                            <div class="nav-link p-2">
                                <a href="{% url "user_settings" %}" class="d-flex align-items-center"
                                   id="user-settings">
                                    <i class="nav-icon mr-2 fas fa-user-circle"
                                       style="width: 2.1rem; font-size: 2.1rem;"></i>
                                    <p>{{ request.user }}</p>
                                </a>
                            </div>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <em class="nav-icon fas fa-graduation-cap"></em>
                            <p>{% translate "Home" %}</p>
                        </a>
                    </li>
                    {% if general_parameter.hide_statistics_enable %}
                        {% if general_parameter.hide_statistics_logged_in_users %}
                            {% if_has_tenant_based_perms "core.view_statistics" elevate_staff=False %}
                                <li class="nav-item">
                                    <a href="{% url 'statistics' %}" class="nav-link">
                                        <em class="nav-icon fas fa-chart-line"></em>
                                        <p>{% translate "Statistics" %}</p>
                                    </a>
                                </li>
                            {% endif_has_tenant_based_perms %}
                        {% elif request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'statistics' %}" class="nav-link">
                                    <em class="nav-icon fas fa-chart-line"></em>
                                    <p>{% translate "Statistics" %}</p>
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'statistics' %}" class="nav-link">
                                <em class="nav-icon fas fa-chart-line"></em>
                                <p>{% translate "Statistics" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}" class="nav-link" target="_blank">
                                <em class="nav-icon fas fa-tv"></em>
                                <p>{% translate "Admin" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if_has_tenant_based_perms "core.view_site" elevate_staff=False %}
                        <li class="nav-item">
                            <a href="{% url 'tenant_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-users-cog"></em>
                                <p>{% translate "Tenant" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_apitoken" elevate_staff=False %}
                        <li class="nav-item">
                            <a href="{% url 'token_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-key"></em>
                                <p>{% translate "Token" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_generalparameter" "core.change_generalparameter" %}
                        <li class="nav-item">
                            <a href="{% url 'settings_edit' %}" class="nav-link">
                                <em class="nav-icon fas fa-cog"></em>
                                <p>{% translate "Settings" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_user" %}
                        <li class="nav-item">
                            <a href="{% url 'users_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-user"></em>
                                <p>{% translate "Users" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_group" %}
                        <li class="nav-item">
                            <a href="{% url 'groups_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-user-friends"></em>
                                <p>{% translate "Groups" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if media_enabled %}
                        {% if_has_tenant_based_perms "core.view_slides" %}
                            <li class="nav-item">
                                <a href="{% url "slides_overview" %}" class="nav-link">
                                    <em class="nav-icon fas fa-file-powerpoint"></em>
                                    <p>{% trans "Slides" %}</p>
                                </a>
                            </li>
                        {% endif_has_tenant_based_perms %}
                        {% if_has_tenant_based_perms "core.view_own_slides" %}
                            <li class="nav-item">
                                <a href="{% url "owned_slides_overview" %}" class="nav-link">
                                    <em class="nav-icon fas fa-file-powerpoint"></em>
                                    <p>{% trans "Own Slides" %}</p>
                                </a>
                            </li>
                        {% endif_has_tenant_based_perms %}
                    {% endif %}
                    {% if support_chat_parameter.enabled %}
                        {% if has_supporter_privileges %}
                            <li id="support-nav-item" class="nav-item has-treeview">
                                <a class="nav-link" href="#">
                                    <em class="nav-icon fas fa-headset"></em>
                                    <p>
                                        {% translate "Support" %}
                                        <i class="right fas fa-angle-left"></i>
                                        <span id="support-total-unread-messages-badge"
                                              class="badge badge-light right"></span>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li>
                                        <a href="{% url 'support_chat_chats_overview' %}" class="nav-link">
                                            <em class="nav-icon fas fa-comments"></em>
                                            <p>{% translate "Chats" %}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'support_chat_prepared_answers_overview' %}" class="nav-link">
                                            <em class="nav-icon fas fa-align-left"></em>
                                            <p>{% translate "Prepared Answers" %}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'support_chat_supporters_overview' %}" class="nav-link">
                                            <em class="nav-icon fas fa-users"></em>
                                            <p>{% translate "Supporters" %}</p>
                                        </a>
                                    </li>
                                    {% if_has_tenant_based_perms "support_chat.view_supportchatparameter" "support_chat.change_supportchatparameter" %}
                                        <li>
                                            <a href="{% url "support_chat_settings" %}" class="nav-link">
                                                <em class="nav-icon fas fa-cog"></em>
                                                <p>{% translate "Settings" %}</p>
                                            </a>
                                        </li>
                                    {% endif_has_tenant_based_perms %}
                                </ul>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if_has_tenant_based_perms "support_chat.view_supportchatparameter" "support_chat.change_supportchatparameter" %}
                            <li class="nav-item">
                                <a href="{% url "support_chat_settings" %}" class="nav-link">
                                    <em class="nav-icon fas fa-headset"></em>
                                    <p>{% translate "Support Settings" %}</p>
                                </a>
                            </li>
                        {% endif_has_tenant_based_perms %}
                    {% endif %}

                    {% if_has_tenant_based_perms "core.view_schedulingstrategy" elevate_staff=False %}
                        <li class="nav-item">
                            <a href="{% url "scheduling_strategy_overview" %}" class="nav-link">
                                <em class="nav-icon fas fa-users"></em>
                                <p>{% translate "Scheduling Strategies" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_meetingconfigurationtemplate" %}
                        <li class="nav-item">
                            <a href="{% url 'rooms_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-person-booth"></em>
                                <p>{% translate "Rooms" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_server" elevate_staff=False %}
                        <li class="nav-item">
                            <a href="{% url 'servers_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-server"></em>
                                <p>{% translate "Server" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a href="{% url 'import_export' %}" class="nav-link">
                                <em class="nav-icon fas fa-retweet"></em>
                                <p>{% translate "Import/Export" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if_has_tenant_based_perms "core.view_meetingconfigurationtemplate" %}
                        <li class="nav-item">
                            <a href="{% url 'room_configs_overview' %}" class="nav-link">
                                <em class="nav-icon fas fa-cubes"></em>
                                <p>{% translate "Room Types" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    {% if_has_tenant_based_perms "core.view_meeting" %}
                        <li class="nav-item">
                            <a href="{% url "meeting_overview" %}" class="nav-link">
                                <em class="nav-icon fas fa-calendar-alt"></em>
                                <p>{% translate "Meetings" %}</p>
                            </a>
                        </li>
                    {% endif_has_tenant_based_perms %}
                    <li class="nav-item">
                        <a href="{% url 'recordings_list' %}" class="nav-link">
                            <em class="nav-icon fas fa-video"></em>
                            <p>{% translate "Recordings" %}</p>
                        </a>
                    </li>
                    {% if general_parameter.faq_url %}
                        <li class="nav-item">
                            <a href="{{ general_parameter.faq_url }}" target="_blank"
                               class="nav-link" rel="noopener noreferrer">
                                <em class="nav-icon fas fa-question-circle"></em>
                                <p>{% translate "FAQ" %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if general_parameter.feedback_email %}
                        <li class="nav-item">
                            <a href="mailto:{{ general_parameter.feedback_email }}?subject=Feedback BBB Portal"
                               class="nav-link">
                                <em class="nav-icon fas fa-comment-dots"></em>
                                <p>{% translate "Feedback" %}</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            {% block page_title %}
            {% endblock %}
        </div>
        <div class="content">
            <div class="container-fluid">
                {% if messages %}
                    <div class="row">
                        <div class="col-12">
                            {% for message in messages %}

                                {% if message.tags == 'info' %}
                                    <div class="alert alert-info alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-info"></em> {% translate "Info" %}!
                                        </h5> {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-check"></em> {% translate "Success" %}!
                                        </h5> {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'warning' %}
                                    <div class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5>
                                            <em class="icon fas fa-exclamation-triangle"></em> {% translate "Warning" %}!
                                        </h5>
                                        {{ message }}
                                    </div>
                                {% endif %}

                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h5><em class="icon fas fa-ban"></em> {% translate "Error" %}!
                                        </h5> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            <!--
            Admin Theme by <a href="https://adminlte.io">AdminLTE.io</a> -->
        </div>
        {% if general_parameter.footer %}
            {{ general_parameter.footer|safe }}
        {% endif %}
    </footer>
</div>
<!-- ./wrapper -->
{% block modals %}
{% endblock %}
</body>
</html>
