{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {% if general_parameter.latest_news %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><em class="icon fas fa-info"></em>{% translate "Latest News!" %}</h5> {{ general_parameter.latest_news|safe }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">{% translate "Sign in to start using the rooms" %}</p>

                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control"
                                   placeholder="Account" name="username">
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">{% translate "Sign In" %}</button>

                            </div>
                            <!-- /.col -->
                            <div class="col-8">

                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>

    </div>



{% endblock %}