{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block scripts %}
    <script>
        function deleteToken(url) {
            jQuery('#delete_token').attr('href', url);
            jQuery('#delete_token_modal').modal('toggle');
        }

        function revealSecret(id) {
            let input = jQuery('#token_secret_' + id)
            let pictogram = jQuery('#picto_token_secret_' + id)
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                pictogram.removeClass("fa-eye");
                pictogram.addClass("fa-eye-slash");
            } else {
                input.attr("type", "password");
                pictogram.removeClass("fa-eye-slash");
                pictogram.addClass("fa-eye");
            }

        }

        function copySecret(value) {
            copyToClipboard(value).then(function () {
                toastr.success('{% translate "The secret has successfully been copied to the clipboard." %}');
            }, function () {
                toastr.error('{% translate "Your Browser does not support copying to the clipboard." %}');
            });
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% translate "Token overview" %}<span
                                    class="badge badge-pill badge-primary ml-1">{{ tokens.count }}</span></h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url 'token_create' %}"><em
                                        class="fas fa-plus"></em></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% translate "Name" %}</th>
                                    <th scope="col">{% translate "Secret" %}</th>
                                    <th scope="col">{% translate "URL" %}</th>
                                    <th scope="col">{% translate "Slug" %}</th>
                                    <th scope="col">{% translate "Tenants" %}</th>
                                    <th scope="col">{% translate "SchedulingStrategy" %}</th>
                                    <th scope="col" class="text-right">{% translate "Action" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for token in tokens %}
                                    <tr>
                                        <td>{{ token.name|default_if_none:"-" }}</td>
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <input type="password" class="form-control"
                                                       value="{{ token.secret }}"
                                                       id="token_secret_{{ token.pk }}">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-secondary btn-flat"
                                                            onclick="revealSecret({{ token.pk }})">
                                                        <em class="fa fa-sm fa-eye"
                                                            id="picto_token_secret_{{ token.pk }}">
                                                        </em>
                                                    </button>
                                                    <button type="button" class="btn btn-success btn-flat"
                                                            onclick="copySecret('{{ token.shared_secret }}')">
                                                        <em class="fa fa-sm fa-copy">
                                                        </em>
                                                    </button>
                                                  </span>
                                            </div>
                                        </td>
                                        <td>{% build_absolut_token_url token %}</td>
                                        <td>{{ token.slug }}</td>
                                        <td>{% for tenant in token.tenants.all %} -
                                            {{ tenant.name }}{% endfor %}</td>
                                        <td>{{ token.scheduling_strategy|default_if_none:"-" }}</td>
                                        <td>
                                            <div class="btn-group btn-group-sm float-right">
                                                <a class="btn btn-success"
                                                   href="{% url 'token_update' token.pk %}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="{% translate "Edit" %}">
                                                    <em class="fas fa-pen"></em>
                                                </a>
                                                <button class="btn btn-danger"
                                                        onclick="deleteToken('{% url "token_delete" token.pk %}')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{% translate "Delete" %}">
                                                    <em class="fas fa-trash-alt"></em>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}

{% block modals %}
    <div id="delete_token_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete token" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the token?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href=""
                       data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_token">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% translate "Cancel" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}