{% extends "base.html" %}
{% load tenant_based_permission %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    <style>
        .separator {
            display: flex;
            align-items: center;
        }

        .separator::before, .separator::after {
            height: 0.05em;
            flex-grow: 1;
            content: "";
            background-color: var(--secondary);
        }

        .separator::before {
            margin-right: 1em;
        }

        .separator::after {
            margin-left: 1em;
        }
    </style>

    {% if media_enabled %}
        {% if_has_tenant_based_perms "core.view_own_slides" %}
            {% theme "multi_select" "stylesheet" %}
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if media_enabled %}
        {% if_has_tenant_based_perms "core.view_own_slides" %}
            <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
            <script src="{% static "utilities/js/slides.js" %}"></script>
            <script>
                window.addEventListener("load", () => initSlidesInput(document.getElementById("id_slides"), document.getElementById("id_initial_slides")));
            </script>
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Start a room" %}</h3>
                        </div>

                        <div class="card-body">
                            <div class="p-3">
                                <p>
                                    {% blocktranslate trimmed %}
                                        If you do not want to create the meeting and wait for another moderator to start
                                        this room, you can join the waiting room.
                                    {% endblocktranslate %}
                                </p>
                                <a class="btn btn-secondary"
                                   href="{% url "join_waiting_room" room.id %}">{% translate "Join waiting room" %}</a>
                            </div>
                            <div class="separator my-4">
                                {% translate "or" %}
                            </div>
                            <div class="p-3">
                                <p>
                                    {% blocktranslate trimmed with room_config=room.default_meeting_configuration %}
                                        Start the room <strong>{{ room }}</strong> with the configuration
                                        <strong>{{ room_config }}</strong> and the following parameters. The settings
                                        can be adjusted as needed for this meeting.
                                    {% endblocktranslate %}
                                </p>
                                {% crispy form %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
