{% extends "base.html" %}
{% load tenant_based_permission %}
{% load theme %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block styles %}
    {% if media_enabled %}
        {% if_has_tenant_based_perms "core.view_own_slides" %}
            {% theme "multi_select" "stylesheet" %}
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if media_enabled %}
        {% if_has_tenant_based_perms "core.view_own_slides" %}
            <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
            <script src="{% static "utilities/js/slides.js" %}"></script>
            <script>
                window.addEventListener("load", function() {
                    initSlidesInput(document.getElementById("id_slides"), document.getElementById("id_initial_slides"));
                });
            </script>
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Home room update" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
