{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script>
        async function get_meeting_status() {
            try {
                const response = await fetch("{% url "get_room_status" room.id %}");
                if (response.ok) {
                    if ((await response.json())["is_running"]) {
                        location.replace(location.href);
                    }
                } else {
                    console.log(response.status, await response.text());
                }
            } catch (e) {
                console.log(e);
            }
        }

        setInterval(get_meeting_status, 5000);
    </script>
{% endblock %}

{% block content %}
    <!-- Waiting for moderator to start room -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            Join <strong>{{ meeting.room_name }}</strong>
            <p class="mt-3"><em class="fas fa-2x fa-sync-alt fa-spin"></em></p>
        </div>
        <div class="help-block text-center">
            <p>We are preparing your meeting. We will redirect you as soon as its ready or the moderator arrived.</p>
            <p>As a moderator, please check if you are logged in.</p>
        </div>
    </div>
{% endblock %}
