{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            Join <strong>{{ meeting.room_name }}</strong>
        </div>

        <div class="lockscreen-item">
            <form class="lockscreen-credentials ml-0" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="password" class="form-control" name="access_code"
                           title="{% translate "Access code" %}" placeholder="{% translate "Access code" %}"
                           required>
                    <input type="hidden" name="meeting" value="{{ meeting.id }}">
                    <div class="input-group-append">
                        <button type="submit" class="btn"><em class="fas fa-arrow-right text-muted"></em></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="help-block text-center">
            {% translate "Please enter the access code for this meeting." %}
        </div>
    </div>
{% endblock %}
