{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% translate "Meeting Detail" %}
                            </h3>
                        </div>
                        <div class="card-body">
                            {% for detail in meeting_detail %}
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-4">
                                        {{ detail.name }}
                                    </label>
                                    {% if detail.has_multiple_values %}
                                        <ul class="list-group col-lg-8 p-0">
                                            {% for entry in detail %}
                                                <li class="form-control{% if not forloop.first and not forloop.last %} rounded-0{% endif %}{% if not forloop.first %} border-top-0{% endif %}"
                                                    {% if forloop.first %}
                                                    style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;"
                                                    {% elif forloop.last %}
                                                    style="border-top-left-radius: 0; border-top-right-radius: 0;"
                                                    {% endif %}>
                                                    {% include "meeting_detail_entry.html" with entry=entry %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        {% include "meeting_detail_entry.html" with entry=detail single_entry=True %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
