{% extends "base.html" %}
{% load tenant_based_permission %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load theme %}

{% block styles %}
    {% theme "multi_select" "stylesheet" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script>
        jQuery(function () {
            const coOwners = jQuery('#id_co_owners');
            window.select = coOwners.multiSelect();
            window.filter = jQuery('#id_filter_owner').keypress(() => {
                jQuery.get('{% url "json_search_user" %}?q=' + filter.val(),
                    /**
                     * @param {Object} data
                     * @param {[{id: number, display_name: string}]} data.users
                     */
                    (data) => {
                        coOwners.find('option').not(':selected').remove();
                        let optionValues = [];
                        coOwners.find('option').each(function () {
                            if (jQuery.inArray(this.value, optionValues) > -1) {
                                jQuery(this).remove()
                            } else {
                                optionValues.push(this.value);
                            }
                        });
                        data.users.forEach((user) => {
                            coOwners.append(jQuery("<option>", {
                                value: user.id,
                                text: user.display_name
                            }));
                        });
                        coOwners.multiSelect('refresh');
                    }
                );
            });
        });
    </script>
    {% if media_enabled %}
        {% if_has_tenant_based_perms "core.view_own_slides" %}
            <script src="{% static "utilities/js/slides.js" %}"></script>
            <script>
                window.addEventListener("load", function() {
                    initSlidesInput(document.getElementById("id_slides"), document.getElementById("id_initial_slides"));
                });
            </script>
        {% endif_has_tenant_based_perms %}
    {% endif %}
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Configure Personal Room" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
