{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script>
        function copyRecordingsLinkToClipboard(recordingLink) {
            copyToClipboard(recordingLink).then(function () {
                toastr.success('{% translate "The content has successfully been copied to the clipboard." %}');
            }, function () {
                toastr.error('{% translate "Your Browser does not support copying to the clipboard." %}');
            });
        }
    </script>
{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">
                                {% translate "Recordings overview" %}
                                <span class="badge badge-pill badge-primary">{{ recordings_count }}</span>
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    {% if request.user.is_staff %}
                                        <th scope="col">{% translate "Creator" %}</th>
                                    {% endif %}
                                    <th scope="col">{% translate "Room name" %}</th>
                                    <th scope="col">{% translate "Title" %}</th>
                                    <th scope="col">{% translate "Date" %}</th>
                                    <th scope="col">{% translate "Actions" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recording, recording_url, creator_email in recordings %}
                                    <tr {% if recording.to_delete %}
                                        class="bg-gray-light disabled" style="text-decoration: line-through;"
                                    {% endif %}
                                    >
                                        {% if request.user.is_staff %}
                                            <td class="align-middle">
                                                {% if creator_email %}
                                                    {{ creator_email }}
                                                {% else %}
                                                    {{ recording.creator }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td class="align-middle">{{ recording.room_name }}</td>
                                        <td class="align-middle">{{ recording.replay_title }}</td>
                                        <td class="align-middle">
                                            {{ recording.started|timezone:"Europe/Berlin"|date:"d.m.Y - G:i" }}
                                        </td>
                                        <td>
                                            {% if not recording.to_delete %}
                                                <a class="btn btn-link" href="{{ recording_url }}" target="_blank">
                                                    <em class="far fa-sm fa-eye"
                                                        title={% translate "Show Playback" %}></em>
                                                </a>
                                                <button class="btn btn-link"
                                                        onclick="copyRecordingsLinkToClipboard('{{ recording_url }}')">
                                                    <em class="far fa-sm fa-copy"
                                                        title={% translate "Copy Playback-Link" %}></em>
                                                </button>
                                                <a class="btn btn-link"
                                                   href="{% url 'recording_mark_for_deletion' recording.id %}">
                                                    <em class="fas fa-sm fa-trash"
                                                        title="{% translate "Mark for deletion" %}"></em>
                                                </a>
                                                <a class="btn btn-link"
                                                   href="{% url 'recording_update' recording.id %}"
                                                    data-placement="top"
                                                   title="{% translate "Edit" %}">
                                                    <em class="fas fa-sm fa-pen"></em>
                                                </a>
                                            {% else %}
                                                <a class="btn btn-link"
                                                   href="{% url 'recording_unmark_for_deletion' recording.id %}">
                                                    <em class="fas fa-sm fa-trash-restore"
                                                        title="{% translate "Unmark for deletion" %}"></em>
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-link"
                                               href="{% url 'recording_download_zip_redirect' recording.id %}">
                                                <em class="fas fa-sm fa-file-archive"
                                                    title="{% translate "Download ZIP" %}"></em>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
