{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        function deleteRoom(url) {
            jQuery('#delete_room').attr('href', url);
            jQuery('#delete_room_modal').modal('toggle');
        }

        window.addEventListener("load", function () {
            jQuery("#copyRoomButton").tooltip({placement: "top"});
            jQuery("#copyRoomModal").on("show.bs.modal", function (event) {
                const form = document.getElementById("copyRoomForm");
                const joinSecret = event.relatedTarget.dataset.joinSecret;

                form.dataset.roomName = event.relatedTarget.dataset.roomName;
                form.dataset.roomUrl = event.relatedTarget.dataset.roomUrl;
                if (joinSecret) {
                    form.dataset.joinSecret = joinSecret;
                } else {
                    delete form.dataset.joinSecret;
                }

                document.getElementById("joinSecretFormGroup").classList.toggle("d-none", !joinSecret);

                document.getElementById("joinSecret").checked = false;
                document.getElementById("directJoin").checked = false;
            });

            document.getElementById("copyRoomForm").addEventListener("submit", function (event) {
                event.preventDefault();

                const parameters = {directJoin: document.getElementById("directJoin").checked};
                if (document.getElementById("joinSecret").checked) {
                    parameters.joinSecret = this.dataset.joinSecret;
                }

                copyJoinURL(this.dataset.roomUrl, this.dataset.roomName, parameters);

                jQuery("#copyRoomModal").modal("hide");
            });
        });

        function copyJoinURL(roomUrl, roomName, parameters) {
            const url = new URL(roomUrl, window.location);

            if (parameters.joinSecret) {
                url.searchParams.set("joinSecret", parameters.joinSecret);
            }
            if (parameters.directJoin) {
                url.searchParams.set("directJoin", "true");
            }
            copyURLToClipboard(url.toString());
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-12 card">
                    <div class="card-body">
                        {% crispy filter.form filter.form.helper %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% translate "Rooms Overview" %}<span
                                    class="badge badge-pill badge-primary ml-1">{{ filter.qs.count }}</span></h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url 'room_create' %}"><em
                                        class="fas fa-plus"></em></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% translate "Name" %}</th>
                                    <th scope="col">{% translate "State" %}</th>
                                    <th scope="col">{% translate "Tenants" %}</th>
                                    <th scope="col">{% translate "SchedulingStrategy" %}</th>
                                    <th scope="col">{% translate "Config" %}</th>
                                    <th scope="col">{% translate "Visibility" %}</th>
                                    <th scope="col">{% translate "Last running" %}</th>
                                    <th scope="col">{% translate "Clicks" %}</th>
                                    <th scope="col">{% translate "Comment (internal)" %}</th>
                                    <th scope="col" class="text-right">{% translate "Action" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for room in filter.qs %}
                                    <tr>
                                        <td>{{ room.name }}</td>
                                        <td>{% include 'snippet_room_state.html' with state=room.state %}</td>
                                        <td>{% for tenant in room.tenants.all %} -
                                            {{ tenant.name }}{% endfor %}</td>
                                        <td>
                                            {{ room.scheduling_strategy|default_if_none:"-" }}
                                        </td>
                                        <td>
                                            {{ room.default_meeting_configuration }}
                                        </td>
                                        <td class="text-center">
                                            {% if room.visibility == "public" %}
                                                <em class="fas fa-globe-europe"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="{% translate "Public" %}"></em>
                                            {% elif room.visibility == "private" %}
                                                <em class="fas fa-eye-slash"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="{% translate "Private" %}"></em>
                                            {% else %}
                                                <em class="fas fa-lock"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="{% translate "Internal" %}"></em>
                                            {% endif %}
                                        </td>
                                        <td>{{ room.last_running|timesince }}</td>
                                        <td>{{ room.click_counter }}</td>
                                        <td>{{ room.comment_private|default_if_none:"" }}</td>
                                        <td>
                                            <div class="btn-group btn-group-sm float-right">
                                                <a class="btn btn-success"
                                                   href="{% url 'room_update' room.id %}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="{% translate "Edit" %}">
                                                    <em class="fas fa-pen"></em>
                                                </a>
                                                <button class="btn btn-danger"
                                                        onclick="deleteRoom('{% url "room_delete" room.id %}')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{% translate "Delete" %}">
                                                    <em class="fas fa-trash-alt"></em>
                                                </button>
                                                {% if room.default_meeting_configuration %}
                                                    <a class="btn btn-primary"
                                                       href="{% url 'join_or_create_meeting' room.id %}"
                                                       data-toggle="tooltip" data-placement="top"
                                                       title="{% translate "Start meeting" %}">
                                                        <em class="fas fa-play"></em>
                                                    </a>
                                                {% endif %}
                                                {% if room.state == "CREATING" %}
                                                    <a class="btn btn-warning"
                                                       href="{% url 'force_end_meeting' room.id %}"
                                                       data-toggle="tooltip" data-placement="top"
                                                       title="{% translate "Reset stucked room" %}">
                                                        <em class="fas fa-redo"></em>
                                                    </a>
                                                {% endif %}
                                                {% if room.state == "RUNNING" %}
                                                    <a class="btn btn-danger"
                                                       href="{% url 'room_reset_stucked' room.id %}"
                                                       data-toggle="tooltip" data-placement="top"
                                                       title="{% translate "Reset stucked room" %}">
                                                        <em class="fas fa-square"></em>
                                                    </a>
                                                {% endif %}
                                                <button id="copyRoomButton" title="{% translate "Copy room join URL" %}"
                                                        type="button" class="btn btn-secondary" data-toggle="modal"
                                                        data-target="#copyRoomModal" data-room-name="{{ room.name }}"
                                                        data-room-url="{% url "join_redirect" room.name %}"
                                                        {% if room.direct_join_secret %}data-join-secret="{{ room.direct_join_secret }}"{% endif %}>
                                                    <em class="fas fa-copy"></em>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="delete_room_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete room" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the room?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href=""
                       data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_room">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% translate "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="copyRoomModal" tabindex="-1" aria-labelledby="copyRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="copyRoomModalLabel">{% translate "Copy room join URL" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="px-4 py-3" id="copyRoomForm">
                        <div class="form-group" id="joinSecretFormGroup">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       id="joinSecret">
                                <label class="form-check-label"
                                       for="joinSecret">
                                    {% translate "With join secret to join as moderator without login or required user permissions." %}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       id="directJoin">
                                <label class="form-check-label"
                                       for="directJoin">
                                    {% translate "With direct join to skip the creation menu and start the meeting with default settings." %}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="copyRoomForm" type="submit" class="btn btn-primary">
                        {% translate "Copy URL" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
