{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        function deleteServer(url) {
            jQuery('#delete_server').attr('href', url);
            jQuery('#delete_server_modal').modal('toggle');
        }

        function revealSecret(id) {
            let input = jQuery('#server_secret_' + id)
            let pictogram = jQuery('#picto_server_secret_' + id)
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                pictogram.removeClass("fa-eye");
                pictogram.addClass("fa-eye-slash");
            } else {
                input.attr("type", "password");
                pictogram.removeClass("fa-eye-slash");
                pictogram.addClass("fa-eye");
            }

        }

        function copySecret(value) {
            copyToClipboard(value).then(function () {
                toastr.success("{% translate "The secret has successfully been copied to the clipboard." %}");
            }, function () {
                toastr.error("{% translate "Your Browser does not support copying to the clipboard." %}");
            });
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-12 card">
                    <div class="card-body">
                        {% crispy filter.form filter.form.helper %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% translate "Server overview" %}<span
                                    class="badge badge-pill badge-primary ml-1">{{ filter.qs.count }}</span></h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right" href="{% url 'server_create' %}"><em
                                        class="fas fa-plus"></em></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% translate "SchedulingStrategy" %}</th>
                                    <th scope="col">{% translate "DNS" %}</th>
                                    <th scope="col">{% translate "Machine Id" %}</th>
                                    <th scope="col">{% translate "Secret" %}</th>
                                    <th scope="col">{% translate "State" %}</th>
                                    <th scope="col">{% translate "Datacenter" %}</th>
                                    <th scope="col">{% translate "Participants" %}</th>
                                    <th scope="col">{% translate "Videostreams" %}</th>
                                    <th scope="col">{% translate "Rooms" %}</th>
                                    <th scope="col">{% translate "Utilization" %}</th>
                                    <th scope="col">{% translate "Health Check" %}</th>
                                    <th scope="col" class="text-right">{% translate "Action" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for server in filter.qs %}

                                    <tr>
                                        <td>{{ server.scheduling_strategy|default_if_none:"-" }}</td>
                                        <td>{{ server.dns }}</td>
                                        <td>{{ server.machine_id|default_if_none:"-" }}</td>
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <input type="password" class="form-control"
                                                       value="{{ server.shared_secret }}"
                                                       id="server_secret_{{ server.pk }}">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-secondary btn-flat"
                                                            onclick="revealSecret({{ server.pk }})">
                                                        <em class="fa fa-sm fa-eye"
                                                            id="picto_server_secret_{{ server.pk }}">
                                                        </em>
                                                    </button>
                                                    <button type="button" class="btn btn-success btn-flat"
                                                            onclick="copySecret('{{ server.shared_secret }}')">
                                                        <em class="fa fa-sm fa-copy">
                                                        </em>
                                                    </button>
                                                  </span>
                                            </div>
                                        </td>
                                        <td>{% include "snippet_server_state.html" with state=server.state %}</td>
                                        <td>{{ server.datacenter }}</td>
                                        <td>{{ server.get_participant_count }}
                                            / {{ server.participant_count_max }}</td>
                                        <td>{{ server.get_videostream_count }}
                                            / {{ server.videostream_count_max }}</td>
                                        <td>{{ server.room_set.all.count }}</td>
                                        <td>{% include "snippet_progress_bar.html" with progress=server.get_utilization_percent %} {{ server.get_utilization_percent }}%</td>
                                        <td>{{ server.last_health_check|timesince }}</td>

                                        <td>
                                            <div class="btn-group btn-group-sm float-right">
                                                <a class="btn btn-success"
                                                   href="{% url 'server_update' server.pk %}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="{% translate "Edit" %}">
                                                    <em class="fas fa-pen"></em>
                                                </a>
                                                <button class="btn btn-danger"
                                                        onclick="deleteServer('{% url "server_delete" server.pk %}')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{% translate "Delete" %}">
                                                    <em class="fas fa-trash-alt"></em>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div id="delete_server_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% translate "Delete server" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete the server?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href=""
                       data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_server">
                        {% translate "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% translate "Cancel" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}
