{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    {% theme "multi_select" "stylesheet" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    <script>
        {% if administration %}
            jQuery(function() {
                jQuery("#id_groups").multiSelect();
            });
        {% else %}
            localStorage.setItem("userSettingsPopoverDismissed", "true");
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "User Settings" %}</h3>
                        </div>
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
